body{
	
	background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT60hXIGr-fnMvTeJpid2ooEHn1_WVN05TD_g&usqp=CAU");
	background-repeat: no-repeat;
	background-size: 5000px;
}
a{
	color:#4B0082;
}
h1{
   text-align:center;
}
h2{
	text-align:center;
}