body{
	background-image:url("https://upload.wikimedia.org/wikipedia/commons/3/3a/White_Tiger_6_%283865790598%29.jpg");
	background-repeat: no-repeat;
	background-size:4000px;
}
a{
	color:#FFD700;
}